.portfolioList {
    display: grid;
    grid: 1fr / repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.portfolioItem {
    aspect-ratio: 1;
    box-shadow: 0px 0px 12px 0px rgba(53, 54, 55, 0.20);
    border: none;
    background-color: #569CD6;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: rgba(#569CD6, 0.8);
        background-color: rgba(black, 0.8);
    }

    h2 {
        font-weight: 700;
    }
}